{% assign post_urls = site.posts | map: "url" %}
<nav id="navbar">
    <ul>
        <li>
            <a id="brand" title="Home" href="{{ site.data.navigation[0].link }}">
                {% include brand.html %}
            </a>
        </li>

        {% for link in site.data.navigation %}
        <a class="navlink" id="{{ link.name }}" href="{{ link.link }}" {% if page.url==post.url %}class="current" {%endif %}>
            <li>
                {{ link.name }}
            </li>
        </a>
        {% endfor %}
    </ul>
</nav>