ul#posts{
    list-style-type: none;
    padding: 0;

    @media only screen and (max-width: 768px) {
        & li{
            opacity: 1 !important;
        }
    }
    
    & li{
        // opacity: .5;
        transition: all 0.2s ease;
    }

    & li:hover, li:focus-within{
        opacity: 1;
    }

    & h1{
        margin:0;
    }

    & div#tags{
        margin: 0 0 2em 0;
    }
}

