@import "themes";

:root{
    font-family:monospace;
    --b03:rgb(0,43,54);
    --b02:rgb(7,54,66);
    --b01:rgb(88,110,117);
    --b00:rgb(101,123,131);
    --b0:rgb(131,148,150);
    --b1:rgb(147,161,161);
    --b2:rgb(238,232,213);
    --b3:rgb(253,246,227);
    --yellow:rgb(181,137,0);
    --orange:rgb(203,75,22);
    --red:rgb(220,50,47);
    --magenta:rgb(211,54,130);
    --violet:rgb(108,113,196);
    --blue:rgb(38,139,210);
    --cyan:rgb(42,161,152);
    --green:rgb(133,153,0);
}

body{
    margin:0;
    display: flex;
    flex-flow: row;
    @include themed() {
        color:t($text);
        background-color: t($bg);
    }
}

a:visited{
    @include themed(){
        color:t($accent)
    }
    text-decoration: none;
}


img{
    width:100%;
}

nav#navbar{
    height: 100vh;
    width: 20em;
    position: sticky;
    top:0;
    transition: opacity .2s ease;
    @include themed(){
        box-shadow: 0 2px 5px t($text);
    }

    & ul{
        list-style: none;
        padding: 0;
    }

    & ul.posts>li:before {
        padding-right: 5px;
        content: "└";
    }

    & div{
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    & a.current {
        color: var(--magenta);
    }
    
    & a.current::after{
        content: "<<";
    }   
}

#page{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#page>div{
    width: 35em;
}

@media only screen and (max-width: 768px) {
    nav#navbar{
        @include themed(){
            background-color: t($bg);
        }
        height: 5em;
        width:100%;
        position: sticky;
        position: -webkit-sticky;
        top:0;
        
        & div{
            display: block;
        }

        & ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        & ul.posts{
            display: none;
        }
    }

    nav#navbar.scroll-down{
        opacity: 0;
        overflow: hidden;
    }

    body{
        display: block;
    }

    #page{
        height: 100vh;
        & div{
            width:100%;
            margin:2em;
        }
    }
}

