@import "themes";

nav#navbar {

    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;

    height: 100vh;
    min-width: 20em;
    transition: opacity .2s ease;

    @include themed() {
        outline: solid 1px t($text);

        // box-shadow: 0 2px 5px t($text);
        & a.current {
            color: t($accent2);
        }
    }

    & .brand {
        display: inline;
        width: 5em;
        margin: 0;
    }

    & #brand {
        @include themed() {
            stroke: t($accent2);
        }
    }



    & ul {
        @include themed() {
            margin: 0;
            padding: 0;

            & li {
                width: 100%;
                height: 5em;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-around;
                transition: all .2s ease;

                &:hover {
                    a: {
                        color: t($bg);
                    }

                    color: t($bg);
                    background-color: t($text);

                    & #brand {
                        stroke: t($bg)
                    }
                }
            }
        }
    }


    & ul.posts>li:before {
        padding-right: 5px;
        content: "└";
    }

    & div {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }


    @media only screen and (max-width: 768px) {
        nav#navbar {
            flex-direction: row;
            align-items: center;

            @include themed() {
                background-color: t($bg);
            }

            height: 5em;
            width:100%;
            position: sticky;
            position: -webkit-sticky;
            top:0;

            & div {
                display: block;
            }

            & ul {
                flex-basis: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            & ul.posts {
                display: none;
            }
        }

        nav#navbar.scroll-down {
            opacity: 0;
            overflow: hidden;
        }

        div#page {
            display: block;
            height: 100vh;
            // & div{
            //     width:100%;
            //     // margin:2em;
            // }
        }
    }
}