
$themes: (
    light: (
        bg: #ffffff,
        text: #000000,
        accent: var(--magenta)
    ),
    dark: (
        bg: #000000,
        text: #ffffff,
        a: #ffffff,
        h1: #ffffff,
        accent: var(--violet),
        accent2:var(--magenta)
    ),
    solarized: (
        bg: var(--b02),
        text: var(--b1),
        accent: var(--cyan),
        accent2: var(--violet),
        codeblock: var(--b03)
    )
);

$text:'text';
$bg:'bg';
$accent:'accent';
$accent2:'accent2';
$codeblock:'codeblock';

@mixin themed() {
    @each $theme, $map in $themes {
        .#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key){
    @return map-get($theme-map, $key);
}