---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    <title>{{ page.title }}</title>
</head>
<body class="dark">
    <div class="base">
        {% include navigation.html %}
        <div id="page">
            <div>
                {{ content }}
            </div>
        </div>
    </div>

</body>

</html>