---
---
<!DOCTYPE html>
<html lang="en" class="theme solarized">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/svg" href="/assets/favicon.svg">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url}}/feed.xml" />
    <script src="/assets/js/main.js"></script>
    <title>itsmeat - {{ page.title }}</title>

</head>
<body>
        <div id="page">
        {% include navigation.html %}
            <div class="content-wrapper">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>

</body>

</html>